<div class="mb-4 bg-dark">
    <div class="container-fluid">
        <img class="rounded-3" src="../../images/stock-vector-stethoscope-and-heartbeat-flat-icons-in-medicine-medical-health-cross-healthcare-decoration-for-1009269724.jpg" width="100%" alt="" />
        <h1 class="text-center mt-3">ABOUT</h1>
        <hr />
        <div class="row">
            <div class="col-md-6 col-sm-12 mt-3">
                <h1 class="fs-4 text-center">What is Healthcare Data Hub?</h1>
                <p>
                    Healthcare Data Hub was created in 2021 to solve one problem in healthcare: modern management of patient information.
                    You shouldn't have to fill out paper forms on a clipboard, only to have an office person in the clinic hand-enter that 
                    information into a computer system.  You also shouldn't have to continually provide the same information over and over
                    again, to different doctors, specialists, and hospitals.  Our service is always free for patients.  In a nutshell, you 
                    fill out the same information about your health that you'd give to a doctor, and then any doctor you authorize can get 
                    instant access to your data if you authorize them to access it.  Nothing is shared without your permission.  You can see 
                    who has access to your information, and you can change it at any time.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
                <h1 class="fs-4 text-center">How does it work?</h1>
                <p>
                    When you sign-up for Healthcare Data Hub, you will be presented with the same type of medical information forms that your
                    doctor's office asks for.  You fill these forms out at your own convenience.  Then, when you visit any participating medical
                    provider, they will send you a request to share this information with them.  You receive the request electronically
                    via either email or our mobile app, and with the press of one button you can authorize your doctor to have your information.
                    Healthcare Data Hub takes care of the rest for you and you can rest assured that your doctor knows everything they need to know
                    about your medical history so that they can provide you with the best care possible.
                </p>
            </div>
        </div>
    </div>
</div>